body {
  font-size: 6em;
  text-align: center;
}

.count {
  margin: 0px;
  font-weight: bold;
  color: #888
}

.nowcount {
  margin: 0px;
  font-weight: bold;
  color: red;
}

.wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

.typed {
  color: lightgreen;
}

.mistyped {
  background-color: red;
}